.card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(56, 56, 56, 0.3);
}

.gradient {
  background: rgb(26,32,46);
  background: radial-gradient(circle, rgba(26,32,46,1) 0%, rgba(44,60,101,1) 3%, rgba(26,32,46,1) 100%);
}
