<aside id="separator-sidebar"
   class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 sidenav"
   aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium flex flex-col h-full">
         <li class="px-3 py-4 mt-5">
            <br>
         </li>
         <ng-container *ngFor="let navbarOption of filteredNavbarConfiguration">
            <li (click)="handleMenuClick()">
               <a [href]="navbarOption.url"
                  class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <svg
                     class="flex-shrink-0 w-5 h-5 text-white-500 transition duration-75 dark:text-white-400 group-hover:text-white-900 dark:group-hover:text-white"
                     aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                     <path [attr.d]="navbarOption.pathIcon" />
                  </svg>
                  <span class="flex-1 ms-3 whitespace-nowrap">{{ navbarOption.title }}</span>
               </a>
            </li>
         </ng-container>
         <li class="flex-grow"></li>
         <li (click)="handleLogout()">
            <a href="/login/in"
               class="flex items-center p-2 text-white-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg
                  class="flex-shrink-0 w-5 h-5 text-white-500 transition duration-75 dark:text-white-400 group-hover:text-white-900 dark:group-hover:text-white"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                  <path d="M10 17v-3H3v-4h7V7l5 5-5 5zm10 4H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h5v2H5v14h14v-4h2v4c0 1.1-.9 2-2 2z"/>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Cerrar sesión</span>
            </a>
         </li>
      </ul>
   </div>
</aside>
